:root {
    /* --primary-color: #0BA5BE; */
    --primary-color: #e7a946;
    --secondary-color: #e3e3e3;
    --white: #fff;

    --separacion: 3rem;

    --primary-font: 'Inter', sans-serif;
    --secondary-font: 'Lato', sans-serif;
}

*, *:before, *:after {
    box-sizing: inherit;
}

/* GLOBALES */

html {
    box-sizing: border-box;
    font-family: var(--primary-font);
    font-size: 62.5%;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 4rem;
    align-items: center;
}
h1,h2,h3 {
    margin: 0;
}
h1 {
    font-size: 3rem;   
}
h2 {
    font-size: 2.4rem;   
}
h3 {
    font-size: 2rem;   
}
p {
    font-size: 1.6rem;
    font-weight: 400;
    font-family: var(--secondary-font);
    margin: 0;
}
a {
    text-decoration: none;
    font-size: 1.4rem;
    color: black;
    cursor: pointer;
}
li {
    list-style-type: none;
}
button {
    border: none;
}
.contenedor {
    max-width: 120rem;
    width: 90%;
    margin: 0 auto;
}
/* UTILIS */
.text-center {
    text-align: center;
}
.btn {
    width: 82px;
    padding: 0.8rem;
    text-align: center;
    cursor: pointer;
}
.btn-primary {
    background-color: var(--primary-color);
    color: var(--white);
}
button.btn-primary {
    font-weight: bold;
}
.btn-primary:hover {
    background-color: var(--secondary-color);
    color: var(--primary-color);
    transition: all 0.4s;
}
.buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}
.buttons .btn-primary {
    color: var(--primary-color);
    background-color: var(--white);
}
.buttons .btn-primary:hover {
    color: black;
    background-color: var(--white);
}
.circle {
    border-radius:50%;
    background-color: var(--white);
    height: 100px;
    width: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.circle-min {
    border-radius:50%;
    background-color: var(--secondary-color);
    width: 20px;
    height: 20px;
}
.circle-min.active {
    border-radius:50%;
    background-color: var(--primary-color);
}
.circle-profile {
    background-image: url(../img/users/pic-1.png);
    background-position: center;
    background-size: cover;
    border-radius:50%;
    height: 150px;
    width: 150px;
    margin-top: 1rem;
}
.rectangle {
    background-image: url(../img/users/pic-1.png);
    background-position: center;
    background-size: cover;
    height: 50px;
    width: 50px;
    margin-top: 1rem;
}

label {
    font-size: 1.4rem;
}
input {
    border: none;
    height: 20px;
    width: 100%;
}


/* NAVIGATION */
.header {
    /* margin-left: 2rem;
    margin-right: 2rem;
    width: 98%; */
    width: 100%;
    background-color: var(--primary-color);
}
.navigation {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 200px;
}
.pages {
    display: flex;
    flex-direction: row;
    gap: 2rem;
}
.page {
    padding: 0.8rem;
}
a.page  {
    color: var(--white);
}
.page:hover {
    background-color: var(--secondary-color);
    color: black;
    transition: all 0.4s;
}
.page.active {
    font-weight: bolder;
    text-decoration: underline;
    text-decoration-color: var(--white);
    text-decoration-thickness: 2px;
}
.option {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    width: 200px;
}

/* BANNER */
.banner-bg {
    background-color: var(--primary-color);
    width: 100%;
}
.banner {
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
.banner-text {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.banner-text > * {
    padding-bottom: 1.2rem;
}
.banner-text h1 {
    padding-top: 0;
}
.banner-img {
    background-image: url(../img/banner-car.png);
    background-position: center;
    background-repeat: no-repeat;
    height: 300px;
}
.banner-inicio {
    padding: var(--separacion) 0;
    color: var(--white);
}

/* OPTIONS */
.options-example {
    background-color: var(--primary-color);
    color: var(--white);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 1rem;
}
.option-example {
    display: grid;
    grid-template-columns: 20% 80%;
    width: 250px;
    height: 50px;
    justify-items: center;
    align-items: center;
    border-left: 2px solid var(--white);
    height: 70px;
}
.option-example-icon {
    display: flex;
    flex-direction: row;
    align-items: center;
}

/* Our Serices */
.our-services {
    padding: var(--separacion) 0;
    padding-bottom: 0;
}

/* Iconos */
.icono {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}
.iconos {
    padding: var(--separacion) 0;
}


/* CARS */
#index-cars {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    padding: var(--separacion) 0;
}
.car-list {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    justify-items: center;
    gap: 1rem;
}
.car-demo {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.8rem;
    border-radius: 0.8rem;
    background-color: var(--secondary-color);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.car-demo > * {
    padding: 0.8rem;
}
.car-demo > a {
    margin: 0.8rem;
}
.car-demo .car-picture {
    width: 100%;
    max-width: 295px;
    padding: 0;
}
.caracteristicas {
    display: flex;
    flex-direction: row;
    gap: 0.6rem;
}
.car-picture {
    width: 100%;
    max-width: 250px;
}
.big-car-list {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: var(--separacion) 0;
    padding-top: 0;
}
.big-car {
    display: grid;
    grid-template-columns: 22% 78%;
    align-items: center;
    justify-items: center;
    background-color: var(--secondary-color);
    border-radius: 1rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.big-car:hover, .car-demo:hover {
    transform: scale(1.02);
    transition: all ease-in 0.1s;
    background-color: var(--primary-color);
    color: var(--white);
}
.big-car:hover .btn-primary, .car-demo:hover .btn-primary  {
    background-color: var(--secondary-color);
    color: var(--primary-color);
}
.big-car > * {
    padding: 0.8rem;
}
.big-car-info {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.big-car-info-stats {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

/* Search Box */
.search-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: var(--separacion) 0;
}
.cars-filtered {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.car-form {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    justify-content: space-around;
    height: 70px;
    background-color: var(--secondary-color);
    border-radius: 1rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.car-form input[type=text], .car-form input[type=number], .car-form select {
    border: none;
    margin-left: 0.8rem;
    width: 150px;
}
.input-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.input-box label {
    font-size: 1.4rem;
}

/* SERVICES */
.services-container {
    display: flex;
    flex-direction: column;
}
.services-cards {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    justify-items: center;
    gap: 2rem;
}
.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--primary-color);
    color: var(--white);
    border-radius: 1rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.card > * {
    padding: 0.8rem;
}
.site-gallery {
    display: flex;
    flex-direction: column;
    padding: var(--separacion) 0;
}
.site-gallery-columns {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 2rem;
}
.left-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}
.right-column p {
    margin-bottom: 2rem;
}
.right-column h2{
    margin-bottom: 1.2rem;
}
.site-gallery-control {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}
.site-picture {
    width: 100%;
    max-width: 600px;
}
.gallery {
    display: grid;
    gap: 1rem;
    grid-auto-rows: 29rem;
    grid-template-columns: repeat(auto-fill, minmax(24rem, 1fr));
    padding: var(--separacion) 0;
    justify-items: center;
    align-items: center;
}
.site-picture {
    width: 100%;
}
/* TESTIMONIAL */
.testimonials {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: var(--separacion) 0;
}
.testimonials-cards {
    display: flex;
    flex-direction: row;
    justify-items: center;
    align-items: center;
    gap: 2rem;
}
.testimonial-card {
    background-color: var(--secondary-color);
    border-radius: 1rem;
    width: 300px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.testimonial-card > * {
    padding: 0.8rem;
}
.testimonial-card:hover {
    transform: scale(1.02);
    transition: all ease-in 0.1s;
    background-color: var(--primary-color);
    /* background-color: rgb(0, 153, 255); */
    color: var(--white);
}
.testimonial-card:hover svg path {
    fill: var(--white);
}
.testimonial-grafic {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.2rem;
    padding: 0;
    margin-top: 2.8rem;
}
.testimonial-name {
    font-size: 1.6rem;
    font-weight: bold;
}

/* REGISTER */
.form-auth {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    gap: 1rem;
    background-color: var(--secondary-color);
}
.form-auth > * {
    margin: 1rem ;
}
.register, .login {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    padding: var(--separacion);
    height: 500px;
    align-items: stretch;
}
.register .register-info, .login .login-info {
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
}
.register .form-auth, .login .form-auth {
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
}
.register-info, .login-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: var(--primary-color);
    justify-content: flex-start;
}
.register-info h3 {
    text-transform: uppercase;
}
.register-info > *, .login-info > *{
    padding: 1rem;
}
.register-info a, .login-info a {
    margin: 1rem;
    width: 150px;
}
.form-columns {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}
.form-columns > div, .filter-form > div {
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
}
.form-email {
    display: flex;
    flex-direction: column;
}
.btn-auth {
    background-color: var(--white);
}
.btn-auth:hover {
    background-color: var(--secondary-color);
}
/* USER INFO */
.user-info {
    display: grid;
    grid-template-rows: 15% 85%;
    justify-items: center;
    padding: var(--separacion);
    height: 500px;
    width: 100%;
}
.top-row {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    width: 400px;
    border-bottom: solid 2px var(--primary-color);
}
.top-row a {
    padding: 1.4rem;
}
.top-row a:hover {
    background-color: var(--secondary-color);
    color: #000000;
    transition: all ease-in 0.2s;
}
.active-data {
    color: var(--white);
    background-color: var(--primary-color);
}
.bottom-row {
    width: 100%;
    max-width: 400px;
    background-color: var(--secondary-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.user {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 1rem;
    margin: 1rem 0 1rem 0;
}

/* ADMIN */
.table td{
    text-align: center;
}
tr:hover {
    background-color: var(--primary-color);
    color: var(--white);
}
.database-admin .top-row,.database-admin .bottom-row table {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    width: 100%;
    border-bottom: solid 2px var(--primary-color);
}
.database-admin .bottom-row {
    max-width: none;
}
.database-admin .bottom-row {
    display: grid;
    grid-template-columns: 20% 80%;
    align-items: start;
}
.filter-data {
    padding: 1.2rem;
    color: var(--white);
    background-color: var(--primary-color);
    height: 100%;
}
.filter-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.filter-form {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}
.filter-form button{
    background-color: var(--white);
    color: var(--primary-color);
}
.btn-update {
    background-color:green;
    color: var(--white);
}
.btn-delete {
    background-color:rgb(255, 64, 64);
    color: var(--white);
}
tbody {
    width: 100%;
    padding: 1rem;
}
th {
    font-size: 1.4rem;
    padding: 1rem
}
td {
    font-size: 1.2rem;
    text-align: center;
}
div.sort-options {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
}
/* FOOTER */
.footer {
    background-color: var(--primary-color);
    color: var(--white);
    display: grid;
    grid-template-rows: 80% 20%;
    gap: 1rem;
    justify-items: center;
    width: 100%;
}
.footer-nav {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    gap: 4rem;
    margin-top: 1rem;
}
.footer-info {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.footer-data {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.8rem;
}
.footer-copy {
    margin: 1.2rem;
    font-size: 18px;
    font-weight: bolder;
}

/* MEDIA QUERIES */

/* max-width: 1150px */
@media (max-width: 1150px) {
    .car-list {
        display: flex;
        flex-direction: row;
        justify-items: center;
        flex-wrap: wrap;
        gap: 1.2rem;
        justify-content: center;
    }
}
/* max-width: 1024 */
@media (max-width: 1024px) {
    .site-gallery-columns {
        display: flex;
        flex-direction: column;
    }
}
/* max-width: 834 */
@media (max-width: 834px) {
    .options-example {
        justify-content: center;
    }
    .option-example {
        border-left: none;
        justify-items: start
    }
}
/* max-width: 768px */
@media (max-width: 768px) {
    .navigation {
        display: flex;
        flex-direction: column;
        justify-items: center;
        gap: 0.4rem;
        justify-content: center;
    }
    .pages {
        display: flex;
        flex-direction: column;
        justify-items: center;
        justify-content: center;
        align-items: center;
    }
    .car-form {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        height: auto;
    }
    .car-form > * {
        padding: 1rem;
    }
    .car-form button {
        margin: 1rem;
    }
    .big-car {
        display: flex;
        flex-direction: column;
    }
    .services-cards {
        display: grid;
        grid-template-rows: repeat(2,1fr);
        grid-template-columns: none;
    }
}
/* min-width: 768px */
@media(min-width: 768px) {
    .iconos {
        display: flex;
        gap: 2rem;
    }
}
@media (max-width: 554px) {
    .options-example {
        justify-content: center
    }
    .option-example {
        border-bottom: 2px solid var(--primary-color);
        border-left: none;
    }
}
